*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

/* home section */
.home-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-section > *{
  margin: 20px 0px;
}
.home-section .nav-links button, .signup-section button, .login-section button{
  padding: 10px 20px;
  border: none;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 10px;
}




.signup-section, .login-section{
  background: #f1f1f1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-section > div, .login-section > div, .name-form{
  width: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form label{
  display: block;
  margin: 10px 0px;
  color: gray;
  font-size: 12px;
}
form div{
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}
form input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
form input[type="submit"]{
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* profile page */

.profile-section{
  background: #f1f1f1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-section *{
  margin: 10px 0px;
}
.profile-section button{
  padding: 10px 20px;
  border: none;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 10px;
}

.profile-section .logout-btn{
  position: absolute;
  top: 20px;
  right: 20px;

}